<div class="encabezado">
    <header class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                  <a href="index.html" title="PROMAD"><span class="logo"></span></a>
              </div>
              <div class="col-md-4 align-middle">
                <div class="contNumero">
                      <span class="fas fa-phone-volume"></span>
                      <label class="numeroTel">55255983</label>
                  </div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-4">
                  <aside class="usuario">
                      <span class="icnUsuario"><i class='fa fa-user'></i> Julio Gonz&aacute;lez P&eacute;rez</span>
                      I
                      <a href="#" class="icnCerrar"><i class='fa fa-power-off'></i> Cerrar sesi&oacute;n</a>
                  </aside>
              </div>
          </div>
  </header>
  </div>
